.bi-gear-wide-connected {
    font-size: 30px;
}

.opzioneArticoli {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: end;
}

.opzioneArticoli .dropdown-menu {
    margin-top: 10px;
}

.opzioneArticoli .dropstart {
    position: relative;
    align-items: end;
    right: -5%;
}

.contenitorePercorso {
    border: 2px solid blue;
}

.contenitoreFiltri {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
    width: 25rem;

}

.contenitoreOrdinamentoFiltri {
    width: 90%;
}

.contenitoreOrdinamentoFiltri p {
    font-size: 14px;
    font-weight: 700;
}

.contenitoreFiltroPerPrezzo {
    border: 2px solid gray;
}

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

