.bi-gear-wide-connected {
    font-size: 30px;
}

.opzioneArticoli {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: end;
}

.opzioneArticoli .dropdown-menu {
    margin-top: 10px;
}

.opzioneArticoli .dropstart {
    position: relative;
    align-items: end;
    right: -5%;
}

.contenitorePercorso {
    border: 2px solid blue;
}

.contenitoreFiltri {    
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 1.5rem;
    width: 25rem;
}

.contenitoreOrdinamentoFiltri p {
    font-size: 14px;
    font-weight: 700;
}

.contenitoreFiltroPerPrezzo {
    margin-top: 15px;
}

.contenitoreFiltroPerPrezzoDettaglio {
    border: 1px solid gray;
    margin-top: 4px;
    padding: 14px;
    border-radius: 8px;
}

.img-preview {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
    width: 120px;
}

.contenitoreFiltriRecap {
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 12px;
}

.contenitoreFiltriRecap .bi-trash3 {
    font-size: 20px;
}

.contenitoreFiltriRecap div h5 {
    font-weight: 800;
}

.filtriAttivi p {
    text-align: center;
}

@media (min-width:667px) and (max-width:767px)  {
    .filter-container {
        justify-content: center;
    }
}

@media (min-width:760px) and (max-width:1000px)  {
    .filter-container {
        width: 64%;
    }
}

.recapFiltri {
    position: fixed;
    bottom: 24px;
    width: 320px;
}