.containerCard{
	box-shadow: 0 15px 30px 1px grey;
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 2em;
	height: 250px;
	width: 500px;
	

}

.cardRoute{
	width:200px ;
	height:200px;
}

.product-details {
	position: flex;
	text-align: right;
	flex-direction: column;
	justify-content: space-evenly;
	overflow: hidden;
	padding: 20px;
	height: 100%;
	float: right;
	width: 50%;
	
}

.containerCard .product-details h1{
	display: inline-block;
	position: relative;
	font-size: 1.5rem;
	color: Black;
	margin: 0;
	
}

.containerCard .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Bree Serif', serif;
	display: inline-block;
	background: #ffe6e6;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: white;
	margin: 0;
	animation: chan-sh 6s ease infinite;
	
}

.containerCard .product-details > p {
	text-align: center;
	font-size: 0.8rem;
	color: #7d7d7d;
	
}



.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: left;
	width: 45%;
	display: inline-block;
	

}

.containerCard img {
	width: 100%;height: 100%;
}

.info {
    background: rgba(149, 142, 142, 0.7);
    transition: all 0.3s ease-out;
    transform: translateX(100%);
    position: absolute;
    line-height: 1.8;
    text-align: left;
    font-size: 70%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {
	text-align: center;
	padding-top: 20px;
}

.product-image:hover .info{
	transform: translateX(0);
}

.info ul li{
	transition: 0.3s ease;
}

.info ul li:hover{
	transform: translateX(30px) scale(1.2);
}

.product-image:hover img {
	transition: all 0.3s ease-out;
}

.product-image:hover img {
	transform: scale(1.2, 1.2);
}

.price{
	font-weight: bold;
}

.information{
	color: #7d7d7d;
}

.buttonBuy {
	--width: 70px;
	--height: 35px;
	--button-color: rgb(149, 142, 142);
	width: var(--width);
	height: var(--height);
	background: var(--button-color);
	position: relative;
	top: 5%;
	left: 70%;
	text-align: center;
	border-radius: 0.45em;
	transition: background 0.3s;
}
  
.buttonBuy::after,.buttonBuy::before {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s;
}
  
.iconBuy {
	display: flex;
	align-items: center;
	justify-content: center;
}
  
.buttonBuy-wrapper,.textBuy,.iconBuy {
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	color: #fff;
}
  
.iconBuy {
	top: 0
}
  
.textBuy,.iconBuy {
	transition: top 0.5s;
}
  
.textBuy {
	color: #fff;
	top: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
  
.iconBuy svg {
	width: 24px;
	height: 24px;
}
  
.buttonBuy:hover .iconBuy {
	top: -100%;
}
  
.buttonBuy:hover .textBuy {
	top: 0;
}
  

@media(max-width:500px){
	
	.containerCard{
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction:column-reverse;
		margin-left: 70px;
		height: 600px;
		width: 100%;
	}

	.product-details{
		width: 100%;
		height: 300px;
	}

	.product-image{
		width: 100%;
		height: 400px;
	}
}

@media(min-width:700px) and (max-width:1000px){

	.containerCard{
		max-width: 100%;
		width: 500px;
		height: 300px;
	}

	.cardLayout {
		display: inline;
	}
}

@media (min-width: 660px) and (max-width: 770px) {

	.custom-card{
		justify-content: center;
	}
}

@media(min-width:1000px){

	.cardCarousel {
		width: 30%;
		height: 100%;
		object-fit:cover;
		-webkit-box-reflect:below 2px linear-gradient(transparent, transparent, #0004);
		transform-origin:center;
		transform:perspective(800px) rotateY(25deg);
		transition:0.5s;
	}

	.containerCarousel {
		margin-right: 300px;
		max-width:600px;
		max-height:350px;
		display:flex;  /* questo bastardo mi manda in tilt la nav */
		justify-content:center;
		align-items:center;
		gap:40px;
	}

  	.containerCarousel:hover .cardCarousel {
		opacity:0.1;
  	}

	.containerCarousel .cardCarousel:hover {
		transform:perspective(800px)       rotateY(0deg);
		opacity:1;
		z-index: 99;
	}

	.buttonBuyClick {
		cursor: pointer;
	}
}

.custom-card {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

