:root {
    --primary-color: #e93d3d;
    --danger-color: #dc3545;
    --form-background: #f8f8f8;
    --form-border-color: #e4e0e0;
    --form-hover-background: #f1f1f1;
    --transition-speed: 0.3s;
}

.custom-form {
    max-width: 600px;
    min-height: 820px;
    max-height: 970px;
    margin: auto;
    padding: 20px;
    background-color: var(--form-background);
    border: 1px solid var(--form-border-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all var(--transition-speed);
}

.custom-form:hover{
    max-width: 610px;
    min-height: 830px;
    max-height: 970px;
    background-color: white;
}

.custom-form-header, .custom-form-footer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.custom-form-label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.custom-form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    transition: background-color var(--transition-speed);
}

.custom-form-control:focus {
    background-color: var(--form-hover-background);
}

.custom-form-group {
    margin-bottom: 20px;
}

.custom-form-select {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    transition: background-color var(--transition-speed);
}

.custom-form-select:focus {
    background-color: var(--form-hover-background);
}

.custom-image-preview-container {
    margin-top: 20px;
}

.custom-image-preview-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10px;
}

.custom-image-preview-item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.custom-img-preview {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--form-border-color);
    border-radius: 8px;
    transition: transform var(--transition-speed);
}

.custom-img-preview:hover {
    transform: scale(1.1);
}

.custom-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: background-color var(--transition-speed);
}

.custom-btn-primary {
    background-color: var(--primary-color);
    transition: 0.2s;
}
.custom-btn-primary:hover {
    font-weight: 600;
    padding: 14px 26px;
}

.custom-btn-danger {
    background-color: var(--danger-color);
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px 10px;
    transition: 0.2s;
}

.custom-btn-danger:hover {
    padding: 7px 12px;
    font-weight: 800;
}

.custom-form--submit {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

body {
    animation: fadeIn var(--transition-speed);
}

.select-file {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    margin-top: 1rem;
  }

.select-file:hover{
    background-color: var(--danger-color);
  }
  
