.form-article {
  background-color: white;
  padding: 3.125em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border-color: black 10px;
  box-shadow: 5px 5px 15px -1px rgba(0,0,0,0.75);
}
  
.signup {
  color: rgb(77, 75, 75);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: x-large;
  margin-bottom: 0.5em;
}
  
.form--input {
  width: 100%;
  margin-bottom: 1.25em;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  padding: 0.8em;
  font-family: 'Inter', sans-serif;
  outline: none;
}

.form--submit {
  width: 50%;
  padding: 0.625em;
  border-radius: 5px;
  color: white;
  background-color: #5e2ced;
  cursor: pointer;
}
  
.form--submit:hover {
  background: transparent;
  color: #5e2ced;
}