header {
    color: whitesmoke;
    background-color: #e93d3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
    margin-top: 65px;
    filter: drop-shadow(1px 1px 20px #757575);
}

header h1{
    font-weight: 700;
    font-size: 70px; 
}

header p{
    font-weight: 700;
    font-size: 20px; 
}