header {
    color: white;
    background-color: #e93d3d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 25vh;
}
header h1{
    font-weight: 700;
    font-size: 70px; 
}
header p{
    font-weight: 700;
    font-size: 20px; 
}