.contenitoreFiltri {
    border: 2px solid red;
}

.contenitorePercorso {
    border: 2px solid blue;
}

.contenitoreOrdinamento {
    border: 2px solid gray;
    margin-bottom: 5px;
}

.contenitoreFiltroPerPrezzo {
    border: 2px solid gray;
}