/* bottone per aggiungere annuncio una volta loggati */

body {
    background-color: #f1f1f1;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #e1e4f8 1px, transparent 1px);
    background-size: 10px 10px;
    z-index: -1; 
    animation: sparkle 5s infinite ease-in-out;
}

@keyframes sparkle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes sparkle-random {
    0%, 100% {
        opacity: 1;
    }
    25% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.3;
    }
}

body::before {
    animation: sparkle-random 2s infinite ease-in-out;
}

body::before:nth-child(1) {
    animation-delay: 0s;
}

body::before:nth-child(2) {
    animation-delay: 0.2s;
}

body::before:nth-child(3) {
    animation-delay: 0.4s;
}

body::before:nth-child(4) {
    animation-delay: 0.6s;
}

body::before:nth-child(5) {
    animation-delay: 0.8s;
}

body::before:nth-child(6) {
    animation-delay: 1s;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #e1e4f8 1px, transparent 1px);
    background-size: 10px 10px;
    z-index: -1; 
    animation: sparkle 5s infinite ease-in-out;
}

@keyframes sparkle {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes sparkle-random {
    0%, 100% {
        opacity: 1;
    }
    25% {
        opacity: 0.7;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.3;
    }
}

body::before {
    animation: sparkle-random 2s infinite ease-in-out;
}

body::before:nth-child(1) {
    animation-delay: 0s;
}

body::before:nth-child(2) {
    animation-delay: 0.2s;
}

body::before:nth-child(3) {
    animation-delay: 0.4s;
}

body::before:nth-child(4) {
    animation-delay: 0.6s;
}

body::before:nth-child(5) {
    animation-delay: 0.8s;
}

body::before:nth-child(6) {
    animation-delay: 1s;
}

body::before:nth-child(7) {
    animation-delay: 1.2s;
}

body::before:nth-child(8) {
    animation-delay: 1.4s;
}

body::before:nth-child(9) {
    animation-delay: 1.6s;
}

body::before:nth-child(10) {
    animation-delay: 1.8s;
}

.left {
    margin-left: 22px;
    margin-top: 22px;
}

* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

.BtnLayoutAdd {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
    cursor: pointer;
    transition: all .3s;
}

.logoPlus{
    width: 50%;
    height: 50%;
    fill: white;
}

.svgContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(8px);
    letter-spacing: 0.8px;
    border-radius: 50px;
    transition: all .3s;
    border: 1px solid rgba(235, 233, 233, 0.466);
}

.BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f03333;
    background: -moz-linear-gradient(45deg, #f90e0e 0%, #fd2424 25%, #dc2743 50%, #dc2743 75%, #dc2743 100%);
    background: -webkit-linear-gradient(45deg, #dc2743 0%, #dc2743 25%, #dc2743 50%, #dc2743 75%, #dc2743 100%);
    background: linear-gradient(45deg, #dc2743 0%, #dc2743 25%, #dc2743 50%, #dc2743 75%, #dc2743 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dc2743', endColorstr='#dc2743', GradientType=1);
    z-index: -1;
    border-radius: 50px;
    pointer-events: none;
    transition: all .3s;
}

.BtnLayoutAdd:hover .BG {
    transform: rotate(35deg);
    transform-origin: bottom;
}

.BtnLayoutAdd:hover .svgContainer {
    background-color: rgba(156, 156, 156, 0.466);
}