.custom-dropdown {
    position: relative;
}

.custom-dropdown .custom-dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px 0 ;
    z-index: 1000;
    width: 450px;
    left: 0;
    border-radius: 15px;
}

.custom-dropdown:hover .custom-dropdown-content {
    display: block;
}

.custom-dropdown-content .triangle {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid whitesmoke;
    position: absolute;
    top: -8px;
    left: 20px;
    transform: translateX(-50%);
}

.menu-column {
    width: 50%;
}

.custom-dropdown-content .menu {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    border-radius: 10px;
}

.custom-dropdown-content .menu-item {
    box-sizing: border-box;
    padding: 2px 0;
}

.custom-dropdown-content .vertical-divider {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 1px;
    background-color: #ccc;
}

.menu-item, .menu-item-2 {
    color: rgba(0,0 , 0, 0.6);
}

.nomeMacroCategoria {
    padding: 0 10px;
    margin: 0;
    font-weight: bold;
}

.hovered {
    color: #be3838; 
    border-bottom: 1px solid #858585;
    transition: box-shadow 0.3s ease;
}

.menu-item-2 div {
    padding: 2px 25px;
    transition: transform 0.1s ease, opacity 0.2s ease;
}

.menu-item-2-element {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
    transition: color 0.3s ease;
}

.menu-item-2-element:hover {
    color: #434242;
    text-decoration: none;
}

.menu-item-2 div:hover {
    transform: scale(1.1);
    z-index: 1;
    font-weight: bold;
}

.menu-item-2:hover div {
    opacity: 0.5;
}

.menu-item-2 div:hover {
    opacity: 0.8;
}

.filtroGenerale::placeholder {
    color: gray;
}

/* scritte su navbar */

@keyframes boldAnimation {
    from {
        font-weight: 100;
    }

    to {
        font-weight: 400;
    }
}

.animate-bold {
    animation: boldAnimation 2s forwards;
}

/* bottoni login e registrati */
.cssbuttons-io-button {
    background: whitesmoke;
    color: rgb(0, 0, 0);
    font-family: inherit;
    text-transform: uppercase;
    padding: 0.35em;
    padding-left: 1em;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em #919090;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
}

.cssbuttons-io-button .icon {
    background: whitesmoke;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em #ff1e01;
    right: 0.3em;
    transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
    width: 1.1em;
    transition: transform 0.3s;
    color: #000000;
}

.cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
    transform: scale(0.95);
}

a {
    text-decoration: none;
}

.elemento1 {
    margin-right: 10px;
}
.elemento2 {
    margin-right: 20px;
}

/* tasto logout */
.buttonLog {
    font-size: 18px;
    color: #000000;
    font-family: inherit;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

.buttonLog:focus,
.buttonLog:hover {
    color: #fb0707;
}

.buttonLog:focus:after,
.buttonLog:hover:after {
    width: 100%;
    left: 0%;
}

.buttonLog:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

/* zona revisore */
.notification {
    background-color: #d7d7d7;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 8px 20px;
    position: relative;
    display: inline-block;
    border-radius: 7px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.notification:hover {
    background: rgb(255, 254, 254);
    text-decoration: none;
    color: rgb(158, 152, 152);
    font-weight: bold;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: rgb(255, 55, 55);
    color: whitesmoke;
}

/* searching input */
.container-input {
    position: relative;
}

.input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 1px #333;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
}

.container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
}

.input:focus {
    opacity: 1;
    width: 250px;
}

/* search parte 2  */

.search {
    display: inline-block;
    position: relative;
}

.search input[type="text"] {
    width: 200px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.603);
}

.search button[type="submit"] {
    border: none;
    color: whitesmoke;
    cursor: pointer;
    padding: 7px 9px;
    border-radius: 20px;
    box-shadow: 0 0 1px rgba(17, 15, 15, 0.1);
    position: absolute;
    top: 0;
    right: 0;
    transition: .5s ease;
}

.search button[type="submit"]:hover {
    transform: scale(0.8);
    color: rgb(93, 90, 90);
    background-color: rgba(187, 182, 182, 0);
}

.lang-container{
    display: flex;
}

.lang-img {
    background-image: url(/resources/css/img/lang.png);
    height: 60px;
    width: 60px;
}

.hiddenProva {
    position: absolute;
    top: -10000px;
}

.hiddenProva2 {
    position: absolute;
    
}

.navbarScrollProva {
    margin: 2vh;
    right: 85vw;
    border-radius: 15px;
    transition: 0.08s;
}

#navbar {
    transition: 0.08s;
}

@media (max-width: 991px) {

    .custom-collapse {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        padding: 12px;
    }

    .custom-navbar-brand{
        padding-left: 6px;
    }

    .responsive-dropdown .menu {
        display: flex;
        flex-wrap: nowrap;
        position: relative;
        border-radius: 10px;
        font-size: 12px;
        width: 70%;
    }

    .lang-container {
        margin-left: 16px;
        
    }
    
    .custom-search {
        margin-left: 16px;
    }

    .custom-login {
        margin-left: 16px;
    }

    .custom-register {
        margin-left: 12px;
    }

    .elemento1 {
        margin-left: 12px;
    }

    .custom-navbar-toggler {
        margin-right: 12px;
    }
    
    .custom-revisor{
        margin-left: 16px; 
    }
}